a {
    text-decoration: none;
    color: var(--light);
    background-color: var(--primary-color);
    border: 3px solid var(--light);
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 5px 10px;
    max-height: 100%;
    transition: border-color linear 0.5s;
}

    a:hover {
        border-color: var(--secondary-color);
        transition: border-color linear 0.5s;
    }

span{
    align-self:center;
    justify-self:center;
    font-size:1.2rem;
}

.icon::before{
   font-size:1.8rem;
   margin:5px;
}

.topbar-btn-wrapper .icon::before{
    font-size:1.1rem;
}

.topbar-btn-wrapper span {
    font-size: 0.9rem;
   
}

.double-button{
    grid-column:1/3;
}