<a href="@Href" class="@Class @(IsDisabled ? "button-muted" : "")" @onclick=OnClickAction>
    <span class="icon @Icon"></span>
    <span>@Name</span>
</a>



@code {
    [Parameter]
    public string Href { get; set; } = "#";

    [Parameter]
    public string Icon { get; set; } = "";

    [Parameter]
    public string Name { get; set; } = "";

    [Parameter]
    public bool IsDisabled { get; set; } = false;

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public Action OnClickAction { get; set; }
}
