@page "/test-page"
@inject NavigationManager navman
@inject DatabaseContext dbContext

@*@foreach (var item in catList)
{
    <p>@item.KategorieName</p>
}*@

@foreach (var item in poslist)
{
    <p>Verkauf Nr.: @item.Id : @item.Datum.ToString("dd.MM.yyyy") - @item.VerkaufsId</p>
}


@code {
    List<Kategorie> catList = new List<Kategorie>();
    List<VerkaufProdukte> poslist = new List<VerkaufProdukte>();

    protected override async Task OnInitializedAsync()
    {
        catList = await dbContext.AllCategoriesToListAsync();
        poslist = await dbContext.AllSalesToListAsync();
    }
    
}
