@page "/abschluss-page"

<div class="wrapper">
    <div class="topbar">
        <div class="logo-wrapper">
            <a href="#"><img src="drawable/Logo_BBRZ.png" alt="BBRZ" height="50" /></a>
        </div>
        <h1 class="pagename">Vielen Dank</h1>
        <div class="topbar-btn-wrapper">
            <a class="m-button button-primary" href="/admin-seite">ADMIN</a>
        </div>
    </div>

</div>

@code {

}

