@page "/admin-page"
@inject NavigationManager navman


<div class="admin-wrapper">
    <div class="topbar">
        <div class="logo-wrapper">
            <a href="#"><img src="drawable/Logo_BBRZ.png" alt="BBRZ" height="50" /></a>
        </div>
        <h1 class="pagename">Admin-Bereich</h1>
        <div class="topbar-btn-wrapper">
            <Button Href="/"
                    OnClickAction="@Logout"
                    Icon="icon-exit"
                    Name="ABMELDEN" />
        </div>
    </div>



    <div class="admin-btn-box">
        <a class="admin-button button-primary" href="/produkt-erstellen">PRODUKT<br />ERSTELLEN</a>
        <a class="admin-button button-primary" href="/test-page">PRODUKT<br />BEARBEITEN</a>
        <a class="admin-button button-primary" href="/">PASSWORT<br />ZUR&Uuml;CKSETZEN</a>
        <a class="admin-button button-primary" href="/">ADMIN<br />E-MAIL &Auml;NDERN</a>
    </div>

    <div class="admin-form-wrapper">
        <img class="dark-box admin-landing-icon" src="/drawable/icon_admin_512.png" height="200" />
    </div>
</div>



@code {
    

    void Logout()
    {
        FakeDatabase.IsAuthenticated = false;
    }




}

