@page "/produkt-erstellen"
@inject NavigationManager navman
@inject DatabaseContext dbContext;


<div class="admin-wrapper">
    <div class="topbar">
        <div class="logo-wrapper">
            <a href="#"><img src="drawable/Logo_BBRZ.png" alt="BBRZ" height="50" /></a>
        </div>
        <h1 class="pagename">Produkt erstellen</h1>
        <div class="topbar-btn-wrapper">
            <a class="button-primary logout-btn" href="/"><span>ABMELDEN</span></a>
        </div>
    </div>



    <div class="admin-btn-box" style="display:flex; justify-content: center; align-items:center;">
        <a class="admin-button button-primary" href="/produkt-erstellen" style="width: 100%;">PRODUKT<br />ERSTELLEN</a>
    </div>

    <div class="admin-form-wrapper">
        <div class="dark-box admin-form-box">
            <form action="#">

                <p>
                    <label>Kategorie wählen:</label>
                    <select name="KategorieId" required @bind="product.KategorieId">

                        @foreach (var item in kategorie)
                        {
                            <option value="@item.Id">@item.KategorieName</option>

                        }
                    </select>
                </p>
                <p>
                    <label>Produktnamen eingeben:</label>
                    <input type="text" name="Produktname" @bind-value="product.ProduktName" placeholder="Name" />
                </p>
                <p>
                    <label>Bild auswählen:</label>
                    <select name="ProduktBild" required @bind="product.ProduktBild">

                        @foreach (var item in kategorie)
                        {
                            <option value="@item.KategorieBild">@item.KategorieName</option>

                        }
                    </select>
                </p>
                <p>
                    <label>Preis eingeben:</label>
                    <input type="text" name="ProduktPreis" @bind-value="product.ProduktPreis" placeholder="Preis" /> &euro;
                </p>
                <p class="right-align">

                    <input type="button" class="admin-form-btn" value="ERSTELLEN" @onclick="CreateNewProduct" />&nbsp;<input type="reset" class="admin-form-btn" value="ABBRECHEN" />
                </p>
            </form>
        </div>
    </div>

</div>

@code {
    Produkt product = new Produkt();

    List<Kategorie> kategorie = new List<Kategorie>();

    protected async Task CreateNewProduct()
    {
        await dbContext.CreateProductAsync(product);
        ResetForm();
        navman.NavigateTo("/");
    }

    private void ResetForm()
    {
        product = new Produkt()
        {
            Id = 0,
            ProduktName = "",
            ProduktPreis = 0,
            KategorieId = 1,
            ProduktBild = "drawable/warm_kaffee.png"
        };
    }

    protected override async Task OnInitializedAsync()
    {
        ResetForm();
        await dbContext.AllProductsToListAsync();
        kategorie = await dbContext.AllCategoriesToListAsync();
    }
}
