@page "/tages-abschluss"




<div class="dark-box admin-form-box">

	<div class="tagesabschluss">

		<label>Tagesabschluss:  </label>
		
		<div class="ausgabe"  > €  </div>
		
	</div>

	<br />




	<div class="btn-wrapper">

		<div class="exportList">

			<label>Bestell-Liste:</label> 
			<Button Href="/"
					Icon="icon-export"
					Name=" Exportieren" />
		</div>
	</div>
	<br />


	<div class="admin-form-btn">
		<Button Href="/"
				Name="ZURÜCK" />
	</div>



</div>









@code {

}
