.main-wrapper {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 1fr 100px;
    gap: 10px;
}


/* Währung auswahl */
.money-display {
    grid-column: 1/4;
    grid-row: 1/3;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    padding-top: 40px;
    max-height: calc(100vh - 180px);
}

.money-cell {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 90px;
}

    .money-cell > img {
        grid-column: 1/4;
        align-self: center;
        justify-self: center;
        padding-bottom: 5px;
        max-height:100px;
    }





.money-quantity {
    padding-top: 5px;
    grid-column: 2;
    align-self: flex-start;
    justify-self: center;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}



.order-display {
    grid-column: 4/6;
    grid-row: 1/3;
}

.info-display {
    grid-column: 1/4;
}

.buttons-box {
    grid-column: 4/6;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}



.order-display > .dark-box {
    height: calc(100vh - 290px);
    overflow-y: scroll;
}



.summ {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: right;
    align-items: center;
}



.order-display {
    padding-bottom: 0;
}

